Title: <%= @article.title %></br>
<<<<<<< HEAD
Content: <%= @article.content %></br>

<form method="post" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete" />
</form>
=======
Content: <%= @article.content %></br>
>>>>>>> f548a9a57799cc6e492a2faa6c4a98bc18490d6c
